.main {
    padding: 50px 0 0 0;
}

h1 {
    margin: 30px;
    text-align: center;
    font-weight: 300;
}

p,
h2,
h3,
ul {
    margin: 20px auto;
}

ul {
    padding-left: 25px;
}

h3 {
    font-size: 200%;
    color: red;
}

.member {
    width: 800px;
    height: 180px;
    margin: 20px auto;
}

.member img {
    float: left;
    height: 180px;
    border-radius: 90px;
}

.member p {
    padding: 60px 0 0 200px;
}

.content {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

.content p {
    text-align: justify;
}

table {
    color: darkcyan;
    margin: 30px auto;
    width: 70%;
    table-layout: fixed;
}

th,
td {
    padding: 5px 25px;
}

td {
    vertical-align: top;
}

table ion-icon {
    font-size: 20px;
    padding: 10px;
}
